/* Mobile Header Animations  */

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 8px;
        transform: rotate(0);
    }
    100% {
        top: 13px;
        transform: rotate(135deg);
    }
}

@keyframes top-2 {
    0% {
        top: 22px;
        transform: rotate(135deg);
    }
    50% {
        top: 22px;
        transform: rotate(0);
    }
    100% {
        top: 0px;
        transform: rotate(0);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 22px;
        transform: rotate(0);
    }
    100% {
        bottom: 13px;
        transform: rotate(45deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 22px;
        transform: rotate(45deg);
    }
    50% {
        bottom: 22px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes zoom-out {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


/* Mobile Header Scss */

.header-res {
    position: fixed;
    bottom: 0px;
    right: 15px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1000;
    display: none;
    @media screen and (max-width: 991px) {
        display: flex !important;
    }
    .humburger-btn {
        width: 65px;
        height: 65px;
        background: var(--body-bg);
        border: 2px solid var(--header-text__color) !important;
        border-radius: 50%;
        text-align: center;
        color: var(--header-text__color__hover);
        border: none;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        transform: scale(0.65);
        .menu-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            span {
                position: relative;
                display: block;
                width: 85%;
                border-radius: 9px;
                height: 5px;
                background: var(--header-text__color);
                transition: all 0.3s;
                margin: 8% auto;
            }
            &.active span:nth-child(1) {
                animation: ease 0.7s top forwards;
            }
            &.not-active span:nth-child(1) {
                animation: ease 0.7s top-2 forwards;
                color: red;
            }
            &.active span:nth-child(2) {
                animation: ease 0.7s zoom-out forwards;
            }
            &.not-active span:nth-child(2) {
                animation: ease 0.7s zoom-in forwards;
                color: red;
            }
            &.active span:nth-child(3) {
                animation: ease 0.7s bottom forwards;
            }
            &.not-active span:nth-child(3) {
                animation: ease 0.7s bottom-2 forwards;
                color: red;
            }
        }
    }
    @keyframes menu-field {
        0% {
            opacity: 0;
            pointer-events: none;
            transform: translate(0px, -30px);
        }
        100% {
            transform: translate(0px);
            opacity: 1;
            pointer-events: all;
        }
    }
    .menu-field {
        opacity: 0;
        pointer-events: none;
        transform: translate(0px, -30px);
        transition: all 0.5s ease;
        flex-direction: column;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        bottom: 60px;
        padding: 0px;
        &.actived {
            animation: menu-field 0.5s linear;
            animation-fill-mode: forwards;
        }
        .menu-items {
            display: inline-block;
            margin: 5px 0px;
            text-align: center;
            width: 100%;
            line-height: 130%;
            @media screen and (max-height: 600px) {
                margin: 3px 0px;
            }
            .menu-items__link,
            label {
                width: 100%;
                display: block;
                word-break: normal;
                padding: 10px;
                font-weight: 300;
                background: rgba(0, 0, 0, 0) linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%) repeat scroll 0% 0%;
                color: white;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 13px 0px;
            }
            label {
                width: 65px;
                height: 65px;
                background: rgba(0, 0, 0, 0) linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%) repeat scroll 0% 0%;
                border-radius: 50%;
                text-align: center;
                color: white;
                border: medium none;
                display: flex;
                -moz-box-align: center;
                align-items: center;
                -moz-box-pack: center;
                justify-content: center;
                margin: 0 auto;
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}


/* Desktop Header Scss */

.header {
    background: var(--header-bg);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 4px 15px var(--header__box-shadow);
    padding: 0.5rem 4rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    @media screen and (max-width: 1080px) {
        padding: 0.5rem 1.5rem;
    }
    @media screen and (max-width: 1080px) {
        padding: 0.5rem 0.75rem;
    }
    @media screen and (max-width: 991px) {
        display: none !important;
    }
    .header__logo {
        .header__logo__img {
            width: 6rem;
            height: 3rem;
        }
    }
    .header-menu {
        display: flex;
        .header-menu__theme {
            width: max-content;
            display: inline-flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            position: relative;
            height: 100%;
            margin-left: 30px;
        }
        .header-menu__links {
            direction: ltr !important;
            display: inline-flex;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            text-align: right;
            height: 100%;
            .header-menu__links__items {
                font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
                font-size: 1rem;
                color: var(--header-text__color);
                margin: 0 0.75rem;
                counter-increment: item 1;
                &:hover {
                    color: var(--header-text__color__hover);
                }
                &::before {
                    content: "0"counter(item) ".";
                    color: var(--header-text__color__green);
                    text-align: right;
                }
            }
        }
    }
}